<div class="container" [ngStyle]="{'background-color':'pink'}">
    <h1>
      {{ title }}!
    </h1>
    <h3> 

      <!-- <p *ngIf="show">Start filling out the form</p> -->
    </h3>

    <h4>
      <button (click)="toggleOn =!toggleOn">Click Me</button>
    </h4>
    <div *ngIf="!toggleOn; else elseBlock">
    <h5>Please start filling out the form - We appreciate your feedback.</h5>
    <!-- <p>Good morning to you</p> -->
    </div>
    <!-- <ng-template #elseBlock>No greeting, Lagbaja nothing for you.</ng-template> -->

    <!-- <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
    Show when checked:
    <span ng-if="checked" class="animate-if">
      This is removed when the checkbox is unchecked.
    </span> -->

  <hr/>
  
  
   <form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" name="name"
             required
             #name="ngModel"
             [class.is-invalid]="name.invalid && name.touched"
             [(ngModel)]="orderModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is requried</small>
    </div>
  
    <div class="form-group">
      <label>Email: </label>
      <input type="email" [(ngModel)]="orderModel.email"  class="form-control" name="email">
    </div>
  
    <div class="form-group">
      <label>Phone: </label>
      <input type="tel" class="form-control" name="phone"
            required pattern="^\d{10}$"
            #phone="ngModel"
            [class.is-invalid]="phone.invalid && phone.touched"
            [(ngModel)]="orderModel.phone">
      <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required
           and must be 10 digits</small>
    </div>
  
    <div class="form-group">
      <select class="custom-select" [(ngModel)]="orderModel.rating" name="rating_option">
        <option value="">How would you rate our website? </option>
        <option *ngFor="let rating of ratings"> {{ rating }}
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Would you recommend it to your friends?</label>
      <div class="form-check">
        <input [(ngModel)]="orderModel.recommend"
               class="form-check-input" type="radio" name="recommend" value="yes">
        <label class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input [(ngModel)]="orderModel.recommend"
               class="form-check-input" type="radio" name="recommend" value="no">
        <label class="form-check-label">No</label>
      </div>
    </div>
  
    <div class="form-check mb-3">
      <input [(ngModel)]="orderModel.sendText"
             class="form-check-input" type="checkbox" name="sendmsg">
      <label class="form-check-label">Send me a text message confirmation of my survey </label>
    </div>
  
    <button class="btn btn-primary"
            (click)="confirmOrder(orderForm.value)"
            title="always enabled">Submit</button>
  
    &nbsp;&nbsp;&nbsp;&nbsp;
  
  <!--  <button type="submit" class="btn btn-success"
            [disabled]="!orderForm.form.valid"
            title="enabled once the form is valid">Submit</button>
  -->
  </form>
  
  <hr/>
  <h3>Order Confirmation</h3>
  Confirm:
    <font color="green" style="font-style:italic">
      <!-- If confirm_msg is not empty, display confirm message, otherwise, display default text -->
      {{ (confirm_msg.length > 0)? confirm_msg : 'Display your confirmation message' }}</font> <br/>
  Data submitted:
    <font color="green" style="font-style:italic">
      <!-- If confirm_msg is not empty, display form data that was submitted. -->
      <!-- We don't check the size of data_submitted here since we want to avoid error
           when the page is loaded and form has not been submitted (and data_submitted is an object -- json data).
           Also, we designed our program to set confirm_msg only after the button has been clicked
           (i.e., the form has been submitted). Thus, we can make use of confirm_msg here. -->
      {{ (confirm_msg.length > 0)? (data_submitted | json) : 'Display the submitted order' }}
    </font> <br/>
  <hr/>
  
  Response from PHP:<br/>
    <font color="green" style="font-style:italic">
      <!-- If confirm_msg is not empty, display the response from the PHP backend. -->
    {{ (confirm_msg.length > 0)? (responsedata | json) : 'Display response from PHP backend' }}
    </font>
  
  </div>
  
  {{ authors }} 
  <br/><br/><br/>